html {
    font-family: sans-serif;
    font-size: 87.5%;
    color: #333333;

    box-sizing: border-box;
}

*, :before, :after {
    box-sizing: inherit;

    /* outline: 1px solid rgb(255 0 0 / 0.25); */
}

body {
    height: 100vh;
    margin: 0;

    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: 1fr 20rem;

    --section-border: 0.1rem solid currentColor;
    --section-shadow: 0 0 1rem rgb(0 0 0 / 0.1);t
}

body > section {
    background-color: white;
}

/* #region Canvas part */
#canvas {
    grid-row: 1;
    grid-column: 1;

    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* Definisikan kubus sampel dan sisi-sisinya */
#cube {
    position: relative;
    transform-style: preserve-3d;

    --cube-face-offset: translateZ(5rem);

    --transform-depth-offset: rotate3d(-1, 1, 0, 20deg);
    transform: var(--transform-depth-offset);
    transition: transform 1s;
}
.cube-face {
    position: absolute;
    top: 0;
    left: 0;

    width: 10rem;
    height: 10rem;

    /* TEMPORARY */
    /* background-color: rgb(0 0 0 / 0.4); */
    color: white;
    font-size: 1.25em;

    /* Untuk menengahkan teks */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.cube-face.front {
    position: relative; /* Memaksa agar container mempunyai dimensi yang tetap */

    transform: var(--cube-face-offset);
    background-color: rgb(255 0 0 / 0.5);
}
.cube-face.back {
    transform: rotateY(180deg) var(--cube-face-offset);
    background-color: rgb(255 255 0 / 0.5);
}
.cube-face.right  {
    transform: rotateY( 90deg) var(--cube-face-offset);
    background-color: rgb(0 128 0 / 0.5);
}
.cube-face.left   {
    transform: rotateY(-90deg) var(--cube-face-offset);
    background-color: rgb(0 0 255 / 0.5);
}
.cube-face.top    {
    transform: rotateX( 90deg) var(--cube-face-offset);
    background-color: rgb(128 0 128 / 0.5);
}
.cube-face.bottom {
    transform: rotateX(-90deg) var(--cube-face-offset);
    background-color: rgb(255 192 203 / 0.5);
}
/* #endregion */

#rightPart {
    grid-row: 1;
    grid-column: 2;

    padding: 1rem;

    border-left: var(--section-border);
    box-shadow: var(--section-shadow);
    z-index: 2;

    display: flex;
    flex-direction: column;
}

#stackOfAppliedTransformations {
    overflow-y: auto;
    max-height: 15rem;
}

/* #region Kontrol transformasi */
#bottomPart {
    grid-row: 2;
    grid-column: 1 / span 2;

    display: flex;
    flex-direction: row;

    padding: 1rem;
    gap: 1rem;

    border-top: var(--section-border);
    box-shadow: var(--section-shadow);
    z-index: 3;
}

#bottomPart > fieldset {
    flex-grow: 1;
    flex-basis: 0;
}

#bottomPart > fieldset input[type=number] {
    width: 5rem;
}

#bottomPart > fieldset > :is(div, button) {
    display: block;
    width: fit-content;
    margin: 0.5rem auto;
}
/* #endregion */

.no-transformations-applied-helper-text {
    /* display: block; */
    list-style: "\274C   ";

    /* font-style: italic; */
    /* color: gray; */
    opacity: 0.5;
}
.no-transformations-applied-helper-text:not(:only-child) {
    display: none;
}